body {
    background-color: #961ca7;
    color: rgb(240, 243, 46);
    font-family: "IBM Plex Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #f0ed4e;
    color: rgb(74, 3, 83);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}